* {
    font-family: Arial, Helvetica, sans-serif;

}
body {
    background: pink;
}
ul li{
    display: inline block;
}
ul{
    background: rgb(255, 100, 229);
}
li{
    padding: 10px;
}
.content {
    display: flex;
}