body{
    color: #fff;
    font:600 24px;
}
.box{
    background: purple;
    filter: blur(10px);
    border-radius: 6px;
    cursor: pointer;
    height: 95px;
    line-height: 95px;
    text-align: center;
    transition-property: background;
    transition-duration: 2.5s;
    transition-timing-function: linear;
    width: 95px;

}
.box:hover{
    background: #ff7b29;
}